* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    ;
}

/* header */
.header {
    background-image: url(../images/banner/banner1.png);
    /* background-position: center; */
    background-size: cover;
    text-align: right;
    padding-right: 100px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.header-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.header-dis {
    color: rgb(133, 131, 131);
    font-size: 15px;
    margin-bottom: 10px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: darkorange;
    font-weight: 600;
    font-size: 20px;
    padding: 8px 23px;
    height: 50px;
    border-radius: 5px;
    border: 0;
}

/* failure section */
.my-failures {
    display: flex;
}

.person {
    padding-top: 150px;
    padding-left: 150px;
}

.person-head {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.person-failures {

    padding-top: 400px;
    padding-right: 100px;
    padding-left: 50px;
}

.person-dis {
    color: rgb(133, 131, 131);
    padding-bottom: 20px;
}

.li-text {
    color: rgb(133, 131, 131);
    margin-bottom: 20px;
    list-style: square;
}

/* my plans */
.plan-head {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
    padding-top: 60px;
}

.my-plans {
    text-align: center;
    display: flex;
    /* padding-left: 290px; */
    padding-top: 20px;
}

.plan-icon {
    /* margin-left: 35px; */
    margin: auto;
    text-align: center
}

.plan-dis {
    color: rgb(133, 131, 131);
    font-size: 20px;
    font-weight: 500;
}

/* call now */

.gradient{
    margin: 50px 45px;
    padding-top: 50px;
}
.call{
   background-image: url(../images/watch.png);
   background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 50px 45px;
    background-image: linear-gradient(90deg, rgba(120, 174, 227, 0.749) 0%, rgba(241, 91, 34, 0) 100%);
}
.call-title{
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}
/* section email */

.email{
    display: flex;
    gap: 200px;
    text-align: left;
    background-color: black;
    padding: 100px 50px;
    }
.future{
    color: white;
    padding-left: 60px;
    margin-bottom: 25px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.future-t{
    padding-bottom: 20px;
    font-weight: 800;
    font-size: 35px;
}
.future-dis{
    padding-bottom: 20px;
}
.icon{
    padding-top: 20px;
}
.form{
    color: white;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
#email-box{
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 10px 10px;
    padding-right: 50px;
    background-color: rgba(157, 143, 115, 0.377);
    border: none;

}
